.card-z-0 {
    transition: all .9s ease;

    z-index: 1;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
}

.card-z-1 {
    transition: all .5s ease;

    z-index: 2;
    height: 75vh;
    position: absolute;
    top: 0;
    left: 0;

    opacity: .3;
}

.card-z-2 {
    transition: all .5s ease;

    z-index: 3;
    height: 85vh;
    position: absolute;
    top: 0;
    left: 0;

    opacity: .6;
}

.card-z-3 {
    transition: all .5s ease;

    z-index: 4;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}