footer {
    z-index: 1000;
  position: fixed;
  overflow: visible;
  bottom: 0;
  width: 100%;
  justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.DATABASE_BUTTONS {
    flex-basis: 100%;
}

select{
  overflow: visible;
}

option{
  z-index: 100;  
}

#login {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  flex-direction: column;
}


[type="text"],
textarea {
  width: 50%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 20px;
  resize: vertical;
  font-size: 18px;
  font-size: 1.75vw;
}