footer {
    position: absolute;
    display: flex;
    bottom: 0;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}

.METRONOME {
    flex-basis: 100%;
}

.DATABASE_BUTTONS {
    flex-basis: 100%;
}

#login {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  flex-direction: column;
}
