<!doctype html>
<html lang="en">
<head>
    <title>AJAJA Gaming</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">

    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    {{{_sections.css}}}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



</head>
<body>

{{> includes/nav-bar }}

<section>
    {{{ body }}}
</section>

<!-- sign in modals -->
{{#> layouts/modal-layout type="signIn" title="Login" submitText="Login" }}
    {{#*inline "form-content"}}
        {{> includes/auth-sign-in }}
    {{/inline}}
{{/layouts/modal-layout}}
{{#> layouts/modal-layout type="signUp" title="Sign Up" submitText="Sign Up" }}
    {{#*inline "form-content"}}
        {{> includes/auth-sign-up }}
    {{/inline}}
{{/layouts/modal-layout}}

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-app.js"></script>
<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-auth.js"></script>

<script>
    // Your web app's Firebase configuration
    // TODO get import to work
    // import * as firebase from "/scripts/firebase-admin";

    const firebaseConfig = {
        apiKey: "AIzaSyA-A5-QDA_pB2lqX0eqDKVgp5mqHh7KRSo",
        authDomain: "cs4241-fp-26fee.firebaseapp.com",
        databaseURL: "https://cs4241-fp-26fee.firebaseio.com",
        projectId: "cs4241-fp-26fee",
        storageBucket: "cs4241-fp-26fee.appspot.com",
        messagingSenderId: "448836403755",
        appId: "1:448836403755:web:473b012e08ff4e34d5a06e"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
</script>

<!-- Custom JS -->
<script>
    const GAMEID = "{{ gameId }}";
    function addLoadEvent(func) {
        const oldFunc = window.onload;
        if (typeof window.onload != "function") {
            window.onload = func;
        } else {
            window.onload = function(e) {
                if (oldFunc) {
                    oldFunc(e);
                }
                func(e);
            }
        }
    }
</script>
{{{_sections.js}}}
<script src="/js/auth-forms.js"></script>
<script src="/js/game-forms.js"></script>


<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>