<nb-card>
    <nb-card-body>
        <div class="reveal" [ngClass]="isLoading ? '' : 'show'">
            <img [src]="imgSrc" class="responsive">
        </div>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-header>Six pact</nb-card-header>
    <nb-card-body>
        <p>We propose a web app called six-pact. It is an app that will facilitate goal setting within groups, as well
            as providing tools
            to enforce accountability and incentivize members.</p>

        <p>Users can be part of "six-pacts", which are essentially groups containing members who are striving for weight
            loss or
            fitness goals. The app utilizes the competitive nature of human beings to motivate one another. The app also
            contains a reward
            system, as well as global and local leaderboards.</p>

        <p>The app will make use of a dashboard layout using principles from material design. Planned features include
            dynamic graphs,
            mobile compatibility, integrated machine learning, user accounts, notifications and email reminders, global
            and local leaderboards,
            calender integration, MFP and FitBit integration, and blob storage.</p>
    </nb-card-body>
</nb-card>

<!--<nb-card>-->
<!--  <nb-card-header>Nebula</nb-card-header>-->
<!--  <nb-card-body>-->
<!--    A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.-->
<!--    Originally, nebula was a name for any diffuse astronomical object,-->
<!--    including galaxies beyond the Milky Way.-->
<!--  </nb-card-body>-->
<!--  <nb-card-footer>By Wikipedia</nb-card-footer>-->
<!--</nb-card>-->
