<!DOCTYPE html>
<html>
  <head>
    <script type="module" src="js/table.js" type="text/javascript"></script>
    <script src="js/admin.js" type="text/javascript"></script>
    <title>House Job Readout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <a class="navbar-brand" href="https://axpdsp.org">Alpha Chi Rho - Delta Sigma Phi</a>
        <ul class="nav navbar-nav">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/user">Profile</a>
          </li>
          <li>
            <a href="/stats">Sheet</a>
          </li>
          <li class="active">
            <a href="/admin">Admin</a>
          </li>
          <li>
            <a href="/login">Login</a>
          </li>
        </ul>
      </div>
    </nav>
    <h1 class="d-flex justify-content-center">House Jobs This Week</h1>
    <figure id="jobReadout" class="container">
      <div id="row" class="row">
        <table id="tuesReadout" class="col-sm">
          <tr>
            <th id="tuesday" colspan="1">Tuesday</th>
          </tr>
          <tr id="tuesknob">
            <td>Knobs + Rags</td>
            <td contenteditable="true"></td>
          </tr>
          <tr id="tues3br">
            <td>3rd Floor Bathroom</td>
            <td contenteditable=true ></td>
          </tr>
          <tr id="tues2brVan">
            <td>2nd Floor BR Toilet/Vanity</td>
            <td contenteditable=true ></td>
          </tr>
          <tr id="tues2brFloor">
            <td>2nd Floor BR Showers/Floors</td>
            <td contenteditable=true></td>
          </tr>
          <tr id="tues1br">
            <td>1st Floor Bathroom</td>
            <td contenteditable=true></td>
          </tr>
          <tr id="tuesfoyer">
            <td>Foyer + Library Floor</td>
            <td contenteditable=true></td>
          </tr>
          <tr id="tueslib">
            <td>Library</td>
            <td contenteditable=true></td>
          </tr>
          <tr id="tuesstair">
            <td>Stairs</td>
            <td contenteditable=true></td>
          </tr>
          <tr  id="tuestv">
            <td>TV Room</td>
            <td contenteditable=true></td>
          </tr>
          <tr id="tueshall">
            <td>2/3 Floor Halls</td>
            <td contenteditable=true></td>
          </tr>
          <tr  id="tuesbase">
            <td>Basement</td>
            <td contenteditable=true></td>
          </tr>
          <tr id="tueslaund">
            <td>Laundry Room</td>
            <td contenteditable=true></td>
          </tr>
        </table>
        <table id="thurReadout" class="col-sm">
          <tr>
            <th id="thursday" colspan="1">Thursday</th>
          </tr>
          <tr id="thurknob">
            <td>Knobs + Rags</td>
            <td contenteditable=true >keep</td>
          </tr>
          <tr id="thur3br">
            <td>3rd Floor Bathroom</td>
            <td contenteditable=true ></td>
          </tr>
          <tr id="thur2brVan">
            <td>2nd Floor BR Toilet/Vanity</td>
            <td contenteditable=true ></td>
          </tr>
          <tr id="thur2brFloor">
            <td>2nd Floor BR Showers/Floors</td>
            <td contenteditable=true></td>
          </tr>
          <tr id="thur1br">
            <td>1st Floor Bathroom</td>
            <td contenteditable=true></td>
          </tr>
          <tr id="thurfoyer">
            <td>Foyer + Library Floor</td>
            <td contenteditable=true></td>
          </tr>
          <tr id="thurlib">
            <td>Library</td>
            <td contenteditable=true></td>
          </tr>
          <tr id="thurstair">
            <td>Stairs</td>
            <td contenteditable=true></td>
          </tr>
          <tr id="thurtv">
            <td>TV Room</td>
            <td contenteditable=true></td>
          </tr>
          <tr id="thurhall">
            <td>2/3 Floor Halls</td>
            <td contenteditable=true></td>
          </tr>
          <tr id="thurbase">
            <td>Basement</td>
            <td contenteditable=true></td>
          </tr>
          <tr id="thurlaund">
            <td>Laundry Room</td>
            <td contenteditable=true></td>
          </tr>
        </table>
      </div>
    </figure>
    <section class="container" display="block">
      <h3>Edit current jobs via below form</h3>
      <form autocomplete="off" id="adminForm" action="/modify" method="POST">
        <div class="autocomplete" style="width:300px;">
        Name:<input type="text" name="name" id="name" placeholder="Type Name" required>
          </div>
        Job:<select name="jobCode" id="jobCode" required>
          <option value="knob">Knobs + Rags</option>
          <option value="3br">3rd Floor Bathroom</option>
          <option value="2brVan">2nd Floor Br, Toilet/Vanity</option>
          <option value="2brFloor">2nd Floor Br, Showers/Floors</option>
          <option value="1br">1st Floor Bathroom</option>
          <option value="foyer">Foyer + Library Floor</option>
          <option value="lib">Library</option>
          <option value="stair">Stairs</option>
          <option value="tv">TV Room</option>
          <option value="hall">2/3 Floor Halls</option>
          <option value="base">Basement</option>
          <option value="laund">Laundry Room</option>
        </select><br>
        Date:<input type="date" name="date" required><br>
        Point Value: <input type="number" name="point" required><br>
        <input type="submit" value="Submit Mod">
      </form>
      <button type="button" id="submitBtn" onclick="submitAllMods()">Submit All Mods</button>
    </section>
    <section style="display:block" class="container">
      <button type="button" onclick="window.location='/register'">Register New Account</h3>
      <button type="button" onclick="forceUpdate()">Force Update</h3>
      <button type="button" onclick="fill()">Fill All</h3>
        <button type="button" onclick="resetJobs()">Reset Jobs</h3>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>