<!DOCTYPE html>
<html>
  <head>
    <title>House Job Readout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <a class="navbar-brand" href="https://axpdsp.org">Alpha Chi Rho - Delta Sigma Phi</a>
        <ul class="nav navbar-nav">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/user">Profile</a>
          </li>
          <li>
            <a href="/stats">Sheet</a>
          </li>
          <li class="active">
            <a href="/admin">Admin</a>
          </li>
          <li>
            <a href="/login">Login</a>
          </li>
        </ul>
      </div>
    </nav>
    <h1 class="d-flex justify-content-center">House Jobs This Week</h1>
    <figure id="jobReadout" class="container">
      <div class="row">
        <table id="tuesReadout" class="col-sm">
          <tr>
            <th colspan="2">Tuesday</th>
          </tr>
          <tr>
            <td>Knobs + Rags</td>
            <td id="tuesknob">keep</td>
          </tr>
          <tr>
            <td>3rd Floor Bathroom</td>
            <td id="tues3br"></td>
          </tr>
          <tr>
            <td>2nd Floor BR Toilet/Vanity</td>
            <td id="tues2brVan"></td>
          </tr>
          <tr>
            <td>2nd Floor BR Showers/Floors</td>
            <td id="tues2brFloor"></td>
          </tr>
          <tr>
            <td>1st Floor Bathroom</td>
            <td id="tues1br"></td>
          </tr>
          <tr>
            <td>Foyer + Library Floor</td>
            <td id="tuesfoyer"></td>
          </tr>
          <tr>
            <td>Library</td>
            <td id="tueslib"></td>
          </tr>
          <tr>
            <td>Stairs</td>
            <td id="tuesstair"></td>
          </tr>
          <tr>
            <td>TV Room</td>
            <td id="tuestv"></td>
          </tr>
          <tr>
            <td>2/3 Floor Halls</td>
            <td id="tueshall"></td>
          </tr>
          <tr>
            <td>Basement</td>
            <td id="tuesbase"></td>
          </tr>
          <tr>
            <td>Laundry Room</td>
            <td id="tueslaund"></td>
          </tr>
        </table>
        <table id="thurReadout" class="col-sm">
          <tr>
            <th colspan="2">Thursday</th>
          </tr>
          <tr>
            <td>Knobs + Rags</td>
            <td id="thurknob">keep</td>
          </tr>
          <tr>
            <td>3rd Floor Bathroom</td>
            <td id="thur3br"></td>
          </tr>
          <tr>
            <td>2nd Floor BR Toilet/Vanity</td>
            <td id="thur2brVan"></td>
          </tr>
          <tr>
            <td>2nd Floor BR Showers/Floors</td>
            <td id="thur2brFloor"></td>
          </tr>
          <tr>
            <td>1st Floor Bathroom</td>
            <td id="thur1br"></td>
          </tr>
          <tr>
            <td>Foyer + Library Floor</td>
            <td id="thurfoyer"></td>
          </tr>
          <tr>
            <td>Library</td>
            <td id="thurlib"></td>
          </tr>
          <tr>
            <td>Stairs</td>
            <td id="thurstair"></td>
          </tr>
          <tr>
            <td>TV Room</td>
            <td id="thurtv"></td>
          </tr>
          <tr>
            <td>2/3 Floor Halls</td>
            <td id="thurhall"></td>
          </tr>
          <tr>
            <td>Basement</td>
            <td id="thurbase"></td>
          </tr>
          <tr>
            <td>Laundry Room</td>
            <td id="thurlaund"></td>
          </tr>
        </table>
      </div>
    </figure>
    <section class="container">
      <h3>Edit current jobs via below form</h3>
      <form id="adminForm">
        Name:<input type="text" id="name"><br>
        Job:<select id="job">
          <option value="knob">Knobs + Rags</option>
          <option value="3br">3rd Floor Bathroom</option>
          <option value="2brVan">2nd Floor Br, Toilet/Vanity</option>
          <option value="2brFloor">2nd Floor Br, Showers/Floors</option>
          <option value="1br">1st Floor Bathroom</option>
          <option value="foyer">Foyer + Library Floor</option>
          <option value="lib">Library</option>
          <option value="stair">Stairs</option>
          <option value="tv">TV Room</option>
          <option value="hall">2/3 Floor Halls</option>
          <option value="base">Basement</option>
          <option value="laund">Laundry Room</option>
        </select><br>
        Day:
        <input type="radio" name="day" id="tues" value="tues">Tuesday
        <input type="radio" name="day" id="thur" value="thur">Thursday<br>
      </form>
      <button type="button" id="submitBtn" class="submit">Submit</button>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>