<div class="container">
    <h1>Asteroids</h1>

    {{!-- Game goes here --}}
    <body>
    <canvas id="gameCanvas" width="700" height="500"></canvas>
    </body>
</div>

{{#section "css"}}
{{!-- Add CSS here --}}
    {{!-- <link rel="stylesheet" href="/css/ex-game/ex-game.css"> --}}
{{/section}}

{{#section "js"}}
{{!-- Add JS here --}}
    <script src="/js/asteroids/main.js"></script>
    {{!-- <script src="/js/ex-game/ex-game.js"></script> --}}
{{/section}}

