<div class="container">
    <h1>BRICK DESTROYER!</h1>
    <div id="game-area"></div>
</div>

{{#section 'js'}}
    <script src="/scripts/phaser/dist/phaser.js"></script>
    <script src="/js/bdest/main.js"></script>
{{/section}}

{{#> layouts/modal-layout type="gameScore" title="Submit Score" submitText="Submit" }}
    {{#*inline "form-content"}}
        {{> includes/game-submit-default }}
    {{/inline}}
{{/layouts/modal-layout}}

<!-- The help modal -->
{{#> layouts/modal-layout type="help" title="Brick Destroyer Help" }}
    {{#*inline "form-content"}}
        {{> includes/help/bdest }}
    {{/inline}}
{{/layouts/modal-layout}}