<!doctype html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 3</title>
    <meta charset="utf-8">
    
  </head>
  <body>
     <div><font size = "6"><h1>GAMES!!</h1></font></div>
    <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
    <div>
    </div>
    
    <div>
    <table id = "table" >
    </table>
      </div>
    
  </body>
  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
  
  <script>
     
    
  function reloadData(){
    console.log("Getting Data");
    $.get('/getgames', function(data) {
      clearTable(document.getElementById("table").rows.length - 1)
      data.forEach(function(car){
        if(jQuery.isEmptyObject(car))
          return
        let name = car.name
        $('#table').append('<tr><td id=name>' + car.name +'</td><td id=slug>' + car.slug +'</td></tr>')             
      })
    });
    jQuery.ready();
  }
    
  function clearTable(rowNum){
    for(let i = 0; i < rowNum; i++)
      document.getElementById("table").deleteRow(1)
  }

  function getGame(game){
    let something = {}
    something["game"] = game;
    console.log(game)
    window.location.replace("gameinfo?"+game)
  }

  $(document).on("click",'#table tr', function(){
      let game = $(this).find('#slug')[0].innerText
      getGame(game)
    });

  window.onload = function() {
    reloadData()
  }
    
  </script>  
</html>
