<div class="container">
<h1>EX GAME</h1>

{{!-- Game goes here --}}
</div>

{{#section 'css'}}
    {{!-- Add CSS here --}}
    <link rel="stylesheet" href="/css/ex-game/ex-game.css">
{{/section}}

{{#section 'js'}}
{{!-- Add JS here --}}
    <script src="/js/ex-game/ex-game.js"></script>
{{/section}}

