<h1>EX GAME</h1>

{{!-- Game goes here --}}



{{#section 'head'}}
    {{!-- Add CSS and JS here --}}
    <link rel="stylesheet" href="/css/ex-game/ex-game.css">
    <link rel="stylesheet" href="/js/ex-game/ex-game.js">
{{/section}}