extends layout

block content
  script(type="module" src="/javascripts/login.js")
  link(href='https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Dosis:700', rel='stylesheet')
  #content  
    h1(id ="message")  Welcome! 
    h1(id="message") Please login or signup! 
    br
    p(id="message")
    button(id="showLoginButton") Login 
    br
    br
    form(action="/login", method="post", id="form")
      div
        label Username:
        input(type="text", id="username") 
        br
      div
        label Password:
        input(type="password", id="password")
      div
      input(type="submit", value="Submit",id="login")
    button(id="newAccount") Create Account
    button(id="showNewAccountButton") Create Account
 

  



