extends layout

block content
  script(src="/javascripts/createAccount.js")
  a(href="login")
   button(type="button") Login
  button(id="createFormButton") Create Account
  form(action="" id="createForm")
    div
      label Username:
      input(type="text", id="username") 
      br
    div
      label Password:
      input(type="password", id="password")
    div
      button(id="submitNewAccount") Create Account
  
