extends layout

block content
  script(type="module" src="/javascripts/login.js")
  p(id="message")
  button(id="showLoginButton") Login
  button(id="showNewAccountButton") Create Account
  form(action="" id="form")
    div
      label Username:
      input(type="text", id="username") 
      br
    div
      label Password:
      input(type="password", id="password")
  button(id="newAccountButton") Create Account
  button(id="loginButton") Login

  
