<div class="container">
    <div class="col-sp">
        <h1>Kenken</h1><h4 id="info">ⓘ</h4>
        <h3 id="timer">Time</h3>
        <h2 id="win">You Won!</h2>
        <div id="game-area">

        </div>
    </div>
</div>

{{#section 'css'}}
{{!-- Add CSS here --}}
    <link rel="stylesheet" href="/css/kenken/kenken.css">
{{/section}}

{{#section 'js'}}
    <script src="/js/kenken/kenken.js"></script>
{{/section}}

<section>

    <div class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="signInFormModalLabel" aria-modal="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Instructions</h5>
                    <button type="button" class="close" id="x-close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>The only numbers you may write are 1, 2, 3, 4, or 5.</li>
                        <li>No numbers may appear more than once in any row or column. (That is, all required numbers must appear once in every row and column.)</li>
                        <li>Each "cage" (region bounded by a heavy border) contains a "target number." If there's more than one cell in the cage, the target is also accompanied by an arithmetic operation. You must fill that cage with numbers that produce the target number, using only the specified arithmetic operation. Numbers may be repeated within a cage, if necessary, as long as they do not repeat within a single row or column.</li>
                        <li>In a one-cell cage, just write the target number in that cell.</li>
                    </ul><br><br> The puzzle is constantly checked, you will be notified
                    once the correct board state is filled in.
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="close-button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{#> layouts/modal-layout type="gameScore" title="Submit Score" submitText="Submit" }}
    {{#*inline "form-content"}}
        {{> includes/game-submit-default }}
    {{/inline}}
{{/layouts/modal-layout}}
