extends layout

block content
  script(type='module' src="/javascripts/login.js")
  p(id='created')
  form(action="/login", method="post")
    div
      label Username:
      input(type="text", name="username") 
      br
    div
      label Password:
      input(type="password", name="password")
    div
    input(type="submit", value="Submit")
