<div class="container">
    <h1>Luck</h1>
    <div id="game-area"></div>
</div>

{{#section "js"}}
    <script src="/scripts/phaser/dist/phaser.js"></script>
    <script src="/js/luck/main.js"></script>
{{/section}}

{{#> layouts/modal-layout type="gameScore" title="Submit Score" submitText="Submit" }}
    {{#*inline "form-content"}}
        {{> includes/game-submit-default }}
    {{/inline}}
{{/layouts/modal-layout}}
