extends layout 

block content
    #profile
        hi Welcome #{user}
        p(id='leaderBoard')
        p(id='stats')
        form(action="/game" method="get")
            button(type="submit" id="play") Play!
        form(action="/users" method="get")
            button(type="submit" id="play") User test
