extends layout 

block content
    script(src="/javascripts/profile.js")
    #profile
        hi Welcome #{user}
        p(id='hsMessage') Your Highest Score is: 
        p(id='highscore')
        p(id='stats')
        form(action="/game" method="get")
            button(type="submit" id="play") Play!
        p(id='leaderBoard')
        
