<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    html, body {
        height: 100%;
    }
    body {
        display: flex;
        flex-direction: column;
    }
    .content {
        flex: 1 0 auto;
    }
    .footer {
        flex-shrink: 0;
    }
</style>
<body>
<div class="row content">
    <div class="col s12 z-depth-3">
        <form action="/createUser" method="post" class="col s12">
            <div class="row">
                <div class="input-field">
                    <label>Choose a Username</label>
                    <input type="text" name="newUsername" class="bg-gray focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
                           placeholder="username"/>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label>Choose a Password</label>
                    <input type="text" name="newPassword" class="bg-gray focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
                           placeholder="password"/>
                </div>
            </div>
            <div class="row">
                <div class="col s6 offset-s3">
                    <button type="submit" value="Create User" class="btn waves-effect waves-light">Create User</button>
                </div>
            </div>
        </form>
    </div>
</div>

<footer class="page-footer footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Webware Final Project</h5>
                <p class="grey-text text-lighten-4">A small project that uses pixijs to create a game that tracks user's and their times.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/cbennet">Cooper's Github</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/kandonie">Kristen's Github</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/NobleKalish/">Noble's github</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
</body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="bundle.js"></script>
</html>