<div class="container">
    <div class="col-sp">
        <h1>Sudoku</h1><h4 id="info">ⓘ</h4>
        <h3 id="timer">Time</h3>
        <h2 id="win">You Won!</h2>
        <div id="game-area">
            <table>
                <tr>
                    <td id="cell-1"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-2"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-3"><input type="text" onkeypress='validate(event)' maxlength="1"></td>

                    <td id="cell-4"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-5"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-6"><input type="text" onkeypress='validate(event)' maxlength="1"></td>

                    <td id="cell-7"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-8"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-9"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                </tr>
                <tr>
                    <td id="cell-10"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-11"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-12"><input type="text" onkeypress='validate(event)' maxlength="1"></td>

                    <td id="cell-13"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-14"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-15"><input type="text" onkeypress='validate(event)' maxlength="1"></td>

                    <td id="cell-16"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-17"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-18"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                </tr>
                <tr>
                    <td id="cell-19"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-20"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-21"><input type="text" onkeypress='validate(event)' maxlength="1"></td>

                    <td id="cell-22"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-23"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-24"><input type="text" onkeypress='validate(event)' maxlength="1"></td>

                    <td id="cell-25"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-26"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-27"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                </tr>
                <tr>
                    <td id="cell-28"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-29"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-30"><input type="text" onkeypress='validate(event)' maxlength="1"></td>

                    <td id="cell-31"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-32"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-33"><input type="text" onkeypress='validate(event)' maxlength="1"></td>

                    <td id="cell-34"><input  type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-35"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-36"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                </tr>
                <tr>
                    <td id="cell-37"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-38"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-39"><input type="text" onkeypress='validate(event)' maxlength="1"></td>

                    <td id="cell-40"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-41"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-42"><input type="text" onkeypress='validate(event)' maxlength="1"></td>

                    <td id="cell-43"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-44"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-45"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                </tr>
                <tr>
                    <td id="cell-46"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-47"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-48"><input type="text" onkeypress='validate(event)' maxlength="1"></td>

                    <td id="cell-49"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-50"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-51"><input type="text" onkeypress='validate(event)' maxlength="1"></td>

                    <td id="cell-52"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-53"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-54"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                </tr>
                <tr>
                    <td id="cell-55"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-56"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-57"><input type="text" onkeypress='validate(event)' maxlength="1"></td>

                    <td id="cell-58"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-59"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-60"><input type="text" onkeypress='validate(event)' maxlength="1"></td>

                    <td id="cell-61"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-62"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-63"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                </tr>
                <tr>
                    <td id="cell-64"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-65"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-66"><input type="text" onkeypress='validate(event)' maxlength="1"></td>

                    <td id="cell-67"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-68"><input  type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-69"><input  type="text" onkeypress='validate(event)' maxlength="1"></td>

                    <td id="cell-70"><input  type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-71"><input  type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-72"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                </tr>
                <tr>
                    <td id="cell-73"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-74"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-75"><input type="text" onkeypress='validate(event)' maxlength="1"></td>

                    <td id="cell-76"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-77"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-78"><input type="text" onkeypress='validate(event)' maxlength="1"></td>

                    <td id="cell-79"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-80"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                    <td id="cell-81"><input type="text" onkeypress='validate(event)' maxlength="1"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

{{#section 'css'}}
{{!-- Add CSS here --}}
    <link rel="stylesheet" href="/css/sudoku/sudoku.css">
{{/section}}

{{#section 'js'}}
    <script src="/js/sudoku/sudoku.js"></script>
{{/section}}

<section>

    <div class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="signInFormModalLabel" aria-modal="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Instructions</h5>
                    <button type="button" class="close" id="x-close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    Sudoku is a number placing puzzle based on a 9x9 grid with several given numbers. The object is to place the numbers 1 to 9 in the empty squares so that each row, each column and each 3x3 box contains the same number only once.
                    <br><br> The puzzle is constantly checked, you will be notified
                    once the correct board state is filled in.
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="close-button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{#> layouts/modal-layout type="gameScore" title="Submit Score" submitText="Submit" }}
    {{#*inline "form-content"}}
        {{> includes/game-submit-default }}
    {{/inline}}
{{/layouts/modal-layout}}
