:root{
    --black: #000000;
    --orange: #FFB53C;
    --blue: #AAD2FF;
    --red: #AD3F3D;
    --gray: #848F9C;
    --white: #FFFFFF;
}

#login {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    flex-direction: column;
}

#table {
    font-family: 'Cambria', sans-serif;
    font-size: 20px;
    display: none;
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#main-container{
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.game{
    position: absolute;
    top: 0;
    left: 0;
}

.enemy{
    position: absolute;
    right: 5%;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;

}

.enemy progress[value]::-webkit-progress-bar {
    background-color: var(--red);
}

#health{
    margin-top: 600px;
    width: 250px;
}

.button-container{
    position: absolute;
    top: 100px;
    justify-content: center;
}

#main-button{
    box-shadow: 0 5px 10px 5px;
    border-radius: 20px;
    width: 100px;
    height: 50px;

}

#leaderboard-button{
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
}

#back-button {
    display: none;
    font-size: 1.5em;
}

#current-username {
    display: none;
}

#main-button:hover{
    background: var(--blue);
}

.point{
    position: absolute;
    top: 0;
}

h3 {
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 10px;
}