
/* NAV */

nav {
    background-color: #0055aa;
}


nav button, nav a {
    color: #fff!important;
}

#signInBtn {
    background-color: #0055aa;
}

nav .dropdown-menu {
    /* make dropdown background match button color */
    background-color: #1d2124;
}