body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(0,0,0,0.87) !important;
}

nav {
  margin-bottom: 2%;
}

a {
  color: #00B7FF;
}
h1 {
  color: lightgray;
}
label {
  color: white;
}

.profile {
  border-radius: 50%;
  width: 20%;
}

.logo {
  width: 5%;
  border-radius: 50%;
}

.text {
  color: white;
}

.side-container {
  background-color: lightgray;
  color: black;
}

.post {
  text-align: center;
  margin: 2em;
}

.label {
  margin: 2em;
}
