body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.87) !important;
}

nav {
    margin-bottom: 2%;
}

a {
    color: #00B7FF;
}

h1 {
    color: lightgray;
}

label {
    color: white;
}

.profile {
    border-radius: 50%;
    width: 20%;
}

.logo {
    width: 5%;
    border-radius: 50%;
}

.text {
    color: white;
}

.side-container {
    background-color: #F8F9FA;
    color: black;
}

.post {
    text-align: center;
    margin: 2em;
}

img {
    padding-right: 7px;
}

.centeredButtons {
    text-align: center;
}

#loginBtn, #signUpBtn {
    margin-left: 5px;
    margin-right: 5px;
}

#mainImage {
    width: 200px;
    height: 200px;
}

.label {
  margin: 2em;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

.table tbody tr.highlight td {
    background-color: #ddd;
}
#current-track {
    width: 83px;
    height: 75px;
}
.hidden-data {
    visibility: hidden;

}

.songInput {
    float: left;
    margin: 1em;
}

.leftJustify {
    float: left;
}

.results-table {
    clear: left;
    float: left;
}
