<p>
    Brick Destroyer is a game where you destroy bricks with a ball. When the ball
    reaches the bottom of the screen, a life will be lost. If the number of lives
    reaches zero the game is over.

    <p><strong>Controls:</strong></p>
    <ul>
        <li><strong>Space:</strong> serves the ball and restarts the game</li>
        <li><strong>Left Arrow Key:</strong> moves the paddle left</li>
        <li><strong>Right Arrow Key:</strong> moves the paddle right</li>
    </ul>
</p>