<p>
    This game is inspired by the Google Chrome T-Rex game that you
    can play when your browser cannot connect to the internet.
    The point of the game is to help Gompei jump over rocks as long
    you can to get the most points!
    <h4>Controls</h4>
    <ul>
        <li>UP -> Jump (you can double jump!)</li>
        <li>DOWN -> Fall faster when in midair</li>
        <li>p -> Pause/resume game</li>
    </ul>
    Enjoy!
</p>