<p>
    Welcome to AJAJA Games!! Click any game you like to start playing.
    If you hover over the game it will show a brief description.
    If you wish to submit your scores please sign in.
    You can make an account with us sign in with Google or GitHub.
</p>