<p>
    Click on the pot of gold to start the game.
    Each click will take a reading of your current luck percentage.
    The game will end after ten readings.
    After you can submit your score if you wish.
    And also start a new game.
</p>