<p>
    Use the Sandbag, Machine Gun and Cannon towers to thwart the invading army. Dont let them reach the base!
    Each tower costs money. You can earn money by destroying the enemy.
    You can pause by pressing P.
</p>