@font-face {
    font-family: "Fipps";
    src: url("./resources/fonts/Fipps-Regular.otf");
}
body {
    background-color: #111111;
}

.container {
    width: 310px;
    margin-top: 50px;
}
.container hr {
    visibility: hidden;
}
.container button {
    width: 300px;
    height: 90px;
    box-sizing: border-box;
    background: none;
    border: none;
    margin: 10px;
}
.container button:focus {
    outline: none;
    opacity: 0.2;
}
.container button {
    padding-bottom: 122px;
    font-family: Fipps, serif;
    /*font-weight: bolder;*/
    font-size: 32px;
    background-color: rgba(66, 214, 202, 0.1);
    border-radius: 50px;
    color: #AB83FF;
}
.container button:hover {
    background-color: rgba(66, 214, 202, 0.2);
}
.container button:hover:before {
    content: " ";
    border-radius: 60px;
    border: 2px #AB83FF solid;
    position: absolute;
    left: 405px;
    top: 168px;
    box-sizing: border-box;
    width: 285px;
    height: 120px;
    transition: all 0.7s ease;
    animation: grow 1s infinite;
}

.widecontainer {
    width: 1005px;
    margin-top: 5px;
}
.widecontainer hr {
    visibility: hidden;
}
.widecontainer button {
    width: 1000px;
    height: 30px;
    box-sizing: border-box;
    background: none;
    border: none;
    margin: 5px;
}
.widecontainer button:focus {
    outline: none;
    opacity: 0.2;
}
.widecontainer button {
    padding-bottom: 62px;
    font-family: Fipps, serif;
    /*font-weight: bolder;*/
    font-size: 18px;
    background-color: rgba(66, 214, 202, 0.1);
    border-radius: 50px;
    color: #AB83FF;
}
.widecontainer button:hover {
    background-color: rgba(66, 214, 202, 0.2);
}
.widecontainer button:hover:before {
    content: " ";
    border-radius: 60px;
    border: 2px #AB83FF solid;
    position: absolute;
    left: 405px;
    top: 168px;
    box-sizing: border-box;
    width: 285px;
    height: 120px;
    transition: all 0.7s ease;
    animation: grow 1s infinite;
}


@keyframes grow {
    from {
        transform: scale(0, 0);
        opacity: 1;
    }
    to {
        transform: scale(1.5, 1.5);
        opacity: 0;
    }
}