<div style="width: 90%; position: relative; margin-left: 5%; margin-top: 10px;">
    <form [formGroup]="resetPForm">
        <h2>Reset Password</h2>
        <mat-form-field>
            <input matInput placeholder="Email" type="email" formControlName="email" autocomplete="email" required>
            <mat-hint *ngIf="!emailInput.value">Enter your email address</mat-hint>
            <mat-error *ngIf="!emailInput.valid">
                {{getEmailInputError()}}
            </mat-error>
        </mat-form-field>
        <button *ngIf="!showPasswordAndCode" mat-raised-button color="primary"
            (click)="requestForgotPassword()" [disabled]="!resetPForm.valid">Request
            Forgot Password
        </button>
    </form>

    <form [formGroup]="passwordAndCodeForm" *ngIf="showPasswordAndCode">
        <mat-form-field>
            <input matInput placeholder="New Password" type="password" formControlName="password" required>
            <!-- <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
            <mat-hint *ngIf="!passwordInput.value">Enter your password</mat-hint>
            <mat-error *ngIf="!passwordInput.valid">
                {{getPasswordInputError()}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Confirmation Code" type="text" formControlName="code" required>
            <!-- <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
            <mat-hint *ngIf="!codeInput.value">Enter your Code</mat-hint>
            <mat-error *ngIf="!codeInput.valid">
                {{getCodeInputError()}}
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="forgotPasswordSubmit()"
            [disabled]="!passwordAndCodeForm.valid">Submit</button>
    </form>
</div>