<div id="sign-in-alert" class="alert alert-danger d-none" role="alert">
    <strong>Login Failed</strong> <span></span>
</div>
<div class="form-group">
    <label for="sign-in-email">Email</label>
    <input type="email" class="form-control" id="sign-in-email" placeholder="Email" required>
    <label for="sign-in-password">Password</label>
    <input type="password" class="form-control" id="sign-in-password" placeholder="Password">
</div>
