.fields {
    margin-top: 30px; 
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}

.submitButton {
    margin-top: -30px; 
    margin-left: 20%;
    margin-right: 20%;
}
