<div class='bg-primary page-body'>
  <p>
    <img class='centerCustomImg' src='assets/img/mediumLogo.png'>
  </p>
  <h1 class="title">Care Compare</h1>.
  <h2 class="subTitle">This tool provides users with the ability to compare <a
    href='https://data.medicare.gov/data/hospital-compare' target="_blank">Medicare data</a> between health care providers based on
    DRG groupings</h2>
  <p>
    <mat-form-field class="centerCustom input">
      <input matInput type="text" placeholder="Enter a DRG Code..." [matAutocomplete]="auto" [formControl]="control"
             [(ngModel)]="selectedDRG" (ngModelChange)="filter()">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let code of filteredCodes" [value]="code" (click)="setCode(code)">
        {{code}}
      </mat-option>
    </mat-autocomplete>
  </p>
  <button mat-flat-button color="primary" class="centerCustom emphasis" (click)="setCode(this.selectedDRG)"
          id='compare price button'>Compare Hospitals
  </button>
  <br>
  <!-- <button mat-flat-button color="primary" class="centerCustom emphasis div-extension" (click)="goToDRG()">What is a DRG (Diagnosis
    Related Group)?
  </button> -->
  <br>
  <p *ngIf="incorrectDRG" class="error-text">this DRG code does not exist!</p>
</div>
