@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "liga", "kern";
            font-feature-settings: "liga", "kern";
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    background-image: linear-gradient(to top, #000104, #121214, #1d1d1e, #282829, #333334);
}
  
body {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#navBar {
    height: 120px;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    background-color: black;
    text-align: center;
    padding: 10px;
    box-shadow: 0 1px 10px #000000;
}

#root {
    padding: 50px;
}

#navBar img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button {
    background: linear-gradient(90deg, #FC5C7D, #6A82FB) fixed;
}