@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "liga", "kern";
            font-feature-settings: "liga", "kern";
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    background-image: linear-gradient(to top, #000104, #121214, #1d1d1e, #282829, #333334);
}
  
body {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#navBar {
    height: 150px;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    background-color: black;
    text-align: center;
    padding: 10px;
    box-shadow: 0 1px 10px dodgerblue;
}

.imgCent img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.padder {
    padding: 50px;
}

.glower {
    box-shadow: 0 10px 20px green;
}

.offClr {
    color: #00FF54;
    background-color: black;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
}

#introLogo {
    background-image: url("../media/soundcloudishLogin.png");
}

#musicPic {
    background-image: url("../media/music.jpg");
}


#root {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}


#navBar img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button {
    background: white;
    color: black !important;
    border: 2px solid black;
    transition: 0.9s;
}

button:hover {
    background: black;
    color: #00FF55 !important;
}

.headT {
    color: white;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
    font-weight: 600;
    font-size: 3.5em;

}

.signT {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
    font-weight: 600;
    font-size: 2em;
    color: #00FF54;
    background-color: black;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    box-shadow: 0 10px 20px #999;
}

.topMar {
    margin-top: 20px;
    box-shadow: 0 10px 20px #999;

}