@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "liga", "kern";
            font-feature-settings: "liga", "kern";
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    background-image: linear-gradient(to top, #000104, #121214, #1d1d1e, #282829, #333334);
}

div {
    min-height: 0 !important;
}

#canvas {
    height: 400px;
    padding: 25px;
    background-color: black !important;
    text-align: center !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 10px dodgerblue;
}

  
body {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nameCurr {
    color: white;
    font-family: 'Source Code Pro', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    padding-left: 15px;
}

#profileGo {
    cursor: pointer !important;
    padding-right: 15px;
    transition: 0.7s;
    background-color: #0C2C4D;
}

#profileGo:hover {
    background-color: dodgerblue !important;
    color: black !important;
}

#homeGo:hover {
    cursor: pointer !important;
}

#homeDiv img {
    margin-top: -5px;
}

#navBar {
    height: 70px;
    min-height: 70px !important;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    background-color: black;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 10px;
    box-shadow: 0 1px 10px dodgerblue;
}

#root {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#visEdit {
    min-height: 500px;
    max-height: 500px;
    height: 500px;
}

#navBar img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button {
    background: white;
    color: black !important;
    border: 2px solid black;
    transition: 0.7s;
}

button:hover {
    background: black;
    color: #00FF55 !important;
}

#logoutBtn {
    background: black;
    color: white !important;
    border: 2px solid white;
    transition: 0.7s;
}

#logoutBtn:hover {
    background: #00FF55;
    color: black !important;
    border: 2px solid #00FF55;
}

.bottomBanner {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
    font-weight: 500;
    font-size: 1.1em;
    margin-left: -100px;
    margin-right: -100px;
    margin-bottom: -50px;
    margin-top: 50px;
    background-color: #282829;
    padding: 20px;
    color: white !important;
    border-top: 2px solid #00FF55;
}

#infoContainer {
    background-color: black;
    box-shadow: 0 10px 20px green;
}

#myPic {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.centerEl {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.shadowBg {
    color: #00FF54;
    background-color: black;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    box-shadow: 0 5px 10px #999;
}
