<br>
<div class="container-fluid page-body">
  <div class="title">
    <h1 style="font-size: 50px; text-align: center">
      DRG Codes
    </h1>
  </div>
  <br>
  <br>
  <br>
  <h2>DRG Codes: Explained</h2>
  <h4 style="width: 60%">A DRG (Diagnosis-related group) code is a grouping metric used to simplify determining costs of procedures at hospitals.
    Through this system, similar procedures are grouped together in order to make pricing easier. To somebody with Medicare coverage, this
    code is can be used to determine how much of a procedure Medicare will cover for versus how much will be out of pocket. Due to procedures getting
    a general categorical assignment, the cost of a procedure could be more or less than originally expected. Continue below to find DRGs and start
    comparing.</h4>
  <br>
  <br>
  <mat-form-field>
    <input matInput placeholder="Enter the DRG Code..." [(ngModel)]="input" (ngModelChange)="update(input)">
  </mat-form-field>
  <table class="table table-striped table-bordered" id="drgTable">
    <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr class="data" *ngFor="let entry of this.codes | paginate: {itemsPerPage:10, currentPage: p}" (click)="compare(entry)">
      <td class="code">{{entry.substr(0,3)}}</td>
      <td>{{entry.substr(6, (entry.length))}}</td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p =$event"></pagination-controls>
</div>
