<div>
  <div class="parallaxWrapper" parallax>
    <div class="row">
      <div class="col text-center title">
        Care Compare
      </div>
    </div>
    <div class="row">
      <div class="col text-center subTitle">
        Consumer decisions for health care
      </div>
    </div>
  </div>

  <div class="row quotes">
    <div class="col text-center">
      There's more price transparency and quality transparency regarding a refrigerator than there is about your heart
      surgery." <br><br>- <b>John Toussaint</b> (CEO of ThedaCareCenter)
    </div>
    <div class="col text-center">
      "If you take your kid in for the sniffles, you pay $20, but the full cost is $200. And so we need to get back to
      the price system where you see the full cost of health care, and then people will make smarter decisions. That
      will reduce health care costs, and it's a huge part of our economy." <br><br>- <b>Dave Brat</b> (Former US
      Representative)
    </div>
    <div class="col text-center">
      "Although many factors influence hospital pricing, it is clear that inadequate competition between providers
      contributes significantly to this variation." <br><br>- <b>Liam Sigaud</b> (Policy Analyst for The Maine Heritage Policy Center)
    </div>
  </div>
  <div class="row solution">
    <div class="col text-center">
      <h2>Care Compare utilizes Medicare data to help those seeking inpatient procedures make a better decision about
        their
        health care. Using our care comparison tool you can sort potential hospital by their costs, location, and
        rating.</h2>
    </div>
    <div class="col">
      <img class="logo2" id="logo" src="assets/img/mediumLogo.png" />
    </div>
  </div>
</div>