html, body{
    background-color: #181818 !important;
}

h1, h2, h3, h4, h5, h6, p, a, button, td, input[type=text]{
    color: #F3F3F3;
    font-family: 'Montserrat', sans-serif;
}

body, header, main, footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.head{
    padding: 20px;
}

.head h1{
    display: inline-block;
    margin: 0;
}

.head button{
    float: right;
}

.log-in.btn{
    display: flex;
    flex-flow: column wrap;
    text-decoration: none;
    align-content: center;
    justify-content: center;
    font-size: 25px;
    height: 75px;
    width: 300px;
    border-radius: 30px;
    background-color:black;
    margin-top: 20px; 
}

.log-in.modal{
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0;
    top: 0;
}

.log-in.modal .modal-content{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 15% auto;
    width: 50%;
    padding: 20px;
}

.log-in.btn.spotify{background-color: #1DB954;}
.log-in.btn.spotify:hover{background-color: #1ED760;}
.log-in.btn.apple{background-color: #FF2F56;}
.log-in.btn.apple:hover{background-color: rgb(253, 95, 124);}

.search, .queue{
    height: 600px;
    margin-top: 50px;
    padding: 20px;
}

.searchBody, .queueBody{
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    height: 100%;
}

.searchTop, .queueTop{
    display: flex;
    justify-content: center;
}

#searchForm{
    display: inline-block;
    border-radius: 30px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
}

.search-btn{
    text-decoration: none;
    font-size: 18px;
    height: 50px;
    width: 80px;
    border-radius: 30px;
    border: none;
    background-color: #1DB954;
}

.search-btn:hover{background-color: #1ED760;}

.search-input{
    height: 50px;
    font-size: 18px;
    padding: 20px;
    border: 0;
    outline: 0;
    background: transparent;
}

.search-input:active:focus, .search-input:focus {
    outline: none;
    box-shadow: none;
}

.search-btn:active:focus, .search-btn:focus {
    outline: none;
    box-shadow: none;
}

table{
    margin-top: 10px;
    width: 100%;
}

td{
    text-align: center;
    overflow: wrap;
}

thead td{
    font-weight: bold;
    font-size: 20px;
}

tr{height: 30px;}

tbody tr:hover{
    background-color: #282828;
}

.song{width: 60px;}
.artist{width: 40px;}
.album{width: 40px;}
.length{width: 20px;}
.added{width: 40px;}
.delete{width: 10px;}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: #535353; 
}

::-webkit-scrollbar-thumb:hover {
    background: #B3B3B3 
}