$colors: (
    "primary": #1DB954,
    "primary-hover": #1ED760,
    "secondary": #535353,
    "secondary-hover": #B3B3B3 ,
    "text": #F3F3F3,
    "background": #181818
);

$font: 'Montserrat', sans-serif;

html, body{
    background-color: map-get($colors, "background") !important;
}

h1, h2, h3, h4, h5, h6, p, a, button, td, input[type=text]{
    color: map-get($colors, "text");
    font-family: $font;
}

header{
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    h1{float: left;}
    button{float: right;}
}

main{
    width: 100%;
    .modal{
        display: block; 
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }
    .modal-content {
        background-color: map-get($colors, "secondary");
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        .log-in.btn{
            display: flex;
            flex-flow: column wrap;
            text-decoration: none;
            align-content: center;
            justify-content: center;
            font-size: 25px;
            height: 75px;
            width: 300px;
            border-radius: 30px;
            background-color:black;
            margin-top: 20px; 
        }
    }
}